* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.adminPanel,
.articleExamples__trials {
    border: 1px solid black;
    margin: 0 auto;
    padding: 30px;
    width: 750px;
}

.articleExamples__header {
    margin: 30px auto 50px auto;
    text-align: center;
}

.articleExamples__backBtn {
    background: rgb(235, 235, 235);
    display: block;
    margin: 30px auto 0 auto;
    text-align: center;
    width: 100px;
}

.adminPanel__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.adminPanel__container {
    border: 1px solid black;
    padding: 20px 30px;
    margin: 10px;
}

.adminPanel__item--template {
    display: none;
}

.product {
    text-align: center;
}

.product__name {
    margin-bottom: 10px;
}

.adminPanel__addProductBtn,
.articleExamples__backBtn {
    border: none;
    border-radius: 5px;
    display: block;
    padding: 10px 20px;
}
.adminPanel__addProductBtn {
    background-color: aquamarine;
    margin: 0 auto 20px auto;
}

.adminPanel__addProductBtn:hover {
    background-color: rgb(117, 241, 200);
}

.articleExamples__trials {
    margin-top: 50px;
}

.trials__link {
    background-color: rgb(255, 214, 221);
    border: 3px solid transparent;
    border-radius: 5px;
    display: block;
    padding: 5px 10px;
}

.trials__trial:not(:last-child) {
    margin-bottom: 30px;
}

.trials__trial.active .trials__link {
    border: 3px solid rgb(255, 171, 185);
}
